<div class='services-module-Services'>

  <div class='card-container'>

    <mat-card class='service-card-1'>
      <mat-card-header>
        <mat-card-title>Engine Services</mat-card-title>
      </mat-card-header>

      <img mat-card-img src='assets/images/service1.png'>

      <mat-card-content>
        <p>Avoid Costly Repairs with Preventative Maintenance. One of the most costly repairs is engine replacement.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class='service-card-2'>
      <mat-card-header>
        <mat-card-title>Tune Up</mat-card-title>
      </mat-card-header>

      <img mat-card-img src='assets/images/service2.png'>

      <mat-card-content>
        <p>Denotes the routine servicing of the engine to meet the manufacturer's specifications.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class='service-card-3'>
      <mat-card-header>
        <mat-card-title>Car Paint</mat-card-title>
      </mat-card-header>

      <img mat-card-img src='assets/images/service3.png'>

      <mat-card-content>
        <p>
          Automotive paint is paint used on automobiles for both protection and decoration purposes.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
å
