<div class='profile-module--Profile'>
  <div class='contain-module--Container'>
    <div class='profile-module--container'>
      <div class='profile-module--options'>
        <div class='options-module--title'>
          <p>User Profile</p>
        </div>
        <div class='options-module--title'>
          <p>User Profile</p>
        </div>
        <div class='options-module--title'>
          <p>User Profile</p>
        </div>

      </div>
      <div class='profile-module--detail'>
        <div class='detail-module--profile'>
          <div class='detail-profile--container'>
            <div class='profile-module--avatar'>
              <img src='assets/images/logo.png'>
            </div>
            <div class='profile-module--detail'>
              <h2>Uchiha Itachi</h2>
              <p>Itachi@gmail.com</p>
            </div>
          </div>

        </div>

        <div class='detail-module--form'>
          <form class='form-module--profile'>
            <div class='form-module--username'>
              <mat-form-field appearance="outline">
                <mat-hint>Username</mat-hint>
                <mat-label for="username">Username</mat-label>
                <input type="text" matInput placeholder="Username or email address">
              </mat-form-field>
            </div>
          </form>
        </div>

        <div class='detail-module--update'>

        </div>
      </div>
    </div>
  </div>
</div>
