<div class='form-module--login'>
        <div class='form-module--username'>
          <mat-form-field appearance="outline">
            <mat-hint>Username</mat-hint>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username or email address">
          </mat-form-field>
        </div>

        <div class='form-module--password'>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <mat-hint>Password</mat-hint>
            <input matInput placeholder="6+ characters">
          </mat-form-field>
          <div class='forgot-password'>
            <a href='/register'>
              Forgot password?
            </a>
          </div>
        </div>

        <div class='form-module--login-button'>
          <button mat-raised-button (click)='onSubmit()'>Login</button>
        </div>
      </div>

