.register-module--Register {
  flex-grow: 1;
  padding: 30px 0px 10px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-module--auth-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px 80px 20px 30px;

    p {
      flex-flow: 1;
      text-align: right;

      a {
        color: #4f3cc9;
      }
    }
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px 20px 30px;

    .form-module--google {
      flex-grow: 1;
      padding: 10px 30px 20px 30px;
      flex-direction: column;

      h2 {
        font-weight: bold;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      button {
        color: white;
        align-items: center;
        width: 80%;
        background-color: #4285f4;
      }
    }

    hr {
      height: 0.3px;
      width: 70%;
      background-color: #6e6d7a;
      color: #6e6d7a;
      border-top: 1px solid #e0e0e0;
    }

    .form-module--login {
      flex-grow: 6;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 50px 30px 20px 30px;

      .form-module--username {
        flex-grow: 1;

        mat-form-field {
          width: 100%;
        }
      }

      .form-module--password {
        flex-grow: 2;
        mat-form-field {
          width: 100%;
        }

        .forgot-password {
          display: flex;
          align-items: flex-start;

          a {
            flex-grow: 1;
            text-align: right;
            color: #4f3cc9;
          }
        }
      }

      .form-module--login-button {
        flex: 2;
        button {
          color: white;
          background-color: #ef476f;
          width: 50%;
        }
      }
    }
  }
}
