<div class='banner-module--Banner'>
  <div class='banner-module--content'>
    <div class='banner-content--container'>
      <div class='content-module--slogan'>
        <p>Your service. Your choice.</p>
      </div>
      <div class='content-module--description'>
        <p>Garage booking is a web app which help you can booking your fixing car services easily.</p>
      </div>
      <div class='content-module--booking'>
        <button mat-raised-button>Booking now</button>
      </div>
    </div>
  </div>

  <div class='banner-module--artwork'>
  </div>
</div>
