<form [formGroup]="form" (ngSubmit)="onLogin()" class='form-module--login'>
  <div class='form-module--username'>
    <mat-form-field appearance="outline">
      <mat-hint>Username</mat-hint>
      <mat-label for="username">Username</mat-label>
      <input formControlName="username" type="text" matInput placeholder="Username or email address">
      <mat-error *ngFor="let validation of ACCOUNT_VALIDATION_MESSAGE.username">
        <mat-error class="error-message" *ngIf="f.username.hasError(validation.type)
                && (f.username.dirty || f.username.touched)">
          {{validation.message}}
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>

  <div class='form-module--password'>
    <mat-form-field appearance="outline">
      <mat-label for="password">Password</mat-label>
      <mat-hint>Password</mat-hint>
      <input formControlName="password" type="password" matInput placeholder="6+ characters">
      <mat-error *ngFor="let validation of ACCOUNT_VALIDATION_MESSAGE.password">
        <mat-error class="error-message" *ngIf="f.password.hasError(validation.type)
          && (f.password.dirty || f.password.touched)">
          {{validation.message}}
        </mat-error>
      </mat-error>

    </mat-form-field>
    <div class='forgot-password'>
      <a href='/register'>
        Forgot password?
      </a>
    </div>
  </div>

  <div class='form-module--login-button'>
    <button mat-raised-button (click)='onLogin()'>Login</button>
  </div>
</form>
