<div class='banner-module--Banner'>
  <div class='banner-module--content'>
    <div class='banner-content--container'>
      <div class='content-module--slogan'>
        <h1>We will Solve your CAR Problem.</h1>
      </div>
      <div class='content-module--description'>
        <p>We help you turn the car you drive back into the car you love!</p>
      </div>
      <div class='content-module--booking'>
        <button mat-raised-button>BOOK NOW</button>
      </div>
    </div>
  </div>

  <div class='banner-module--artwork'>
    <img src='assets/images/banner.png'>
  </div>
</div>
