<div class='verify-email-module--Verify-email'>
  <div class='verify-email--container'>
    <div class='verify-icon'>
      <img src='assets/images/verify-email.png'>
    </div>

    <div class='verify-title'>
      <h2>Verify your email address</h2>
    </div>

    <div class='verify-content'>
      <p>You've entered your email as the email adress for your account.</p>
      <p>Please verify this email address by clicking button bellow</p>
    </div>

    <div class='verify-button'>
      <button mat-raised-button>Verify your email</button>
    </div>
  </div>

</div>
