.header-module--Header {
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  box-shadow: black;
  border-radius: 4px;
  border-style: outset;

  .container-module--container {
    width: 100%;

    .header-module--container {
      display: flex;
      padding-left: 30px;
      padding-right: 30px;
      align-items: center;

      .header-module--col1 {
        flex-grow: 4;

        .header-module--brand {
          position: relative;
          font-size: 1.5em;
          font-weight: 800;
          font-family: "Lato", sans-serif;
          color: #008ccf;

          a {
            text-decoration: inherit;
            color: inherit;
          }
        }
      }

      .header-module--col2 {
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
