<header class='header-module--Header'>
  <div class='container-module--container'>
    <div class='header-module--container'>
      <div class='header-module--col1'>
        <div class='header-module--brand'>
          <a routerLink="/" routerLinkActive="active">Garage Booking</a>
        </div>
      </div>
      <div *ngIf="this.authService.getIsLogin()">
        <app-home-auth></app-home-auth>
      </div>
      <div *ngIf="!this.authService.getIsLogin()">
        <app-home-header></app-home-header>
      </div>
    </div>
  </div>
</header>